@use "../scssMinxin" as *;

.upBtn {
  position: fixed;
  z-index: 111;
  right: 20px;
  bottom: 30px;
  border-radius: 50%;
  border: none;
  width: 60px !important;
  height: 60px !important;
  font-weight: bold;
  color: $mainColor;
  background-color: $vinous;
  transition: 1s;
  animation-name: shake;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}


@keyframes shake {
  0%,
  20%,
  40%,
  60% {
    bottom: 0px;
  }
  50%,
  90% {
    bottom: 10px;
  }
  100%{
    bottom: 0;
  }
}
