@use "../scssMinxin" as *;

.image {
  height: 100vh;
  background-image: url("./programmingWeb.jpg");
  background-size: cover;
}

.barI {
  width: 200px;
  height: 100vh;
  background-color: rgba($vinous, 0.6);
  position: absolute;
  top: 0;
  left: 40%;
  transform: skewX(-20deg);
  z-index: 2;
}

#mainTrans {
  text-transform: uppercase;
  position: absolute;
  background-color: rgba(black, 0.6);
  color: white;
  z-index: 1;
  transform: skewX(-20deg);
  font-size: 30px;
}

.intro {
  @extend #mainTrans;
  top: 30%;
  left: 10.5%;
}

.summary {
  @extend #mainTrans;
  top: 60%;
  right: 25%;
}

@media (max-width: 1350px) {
  .intro {
    left: 5.5%;
  }

  .summary {
    right: 18.5%;
  }
}

@media (max-width: 1300px) {
  .intro {
    left: 3.5%;
  }

  .summary {
    right: 16.5%;
  }
}

@media (max-width: 1200px) {
  .intro {
    left: 0.5%;
  }

  .summary {
    right: 12.5%;
  }
}

@media (max-width: 1100px) {
  .intro {
    left: -2.5%;
  }

  .summary {
    right: 8%;
  }
}

@media (max-width: 1000px) {
  .barI {
    transform: skew(0deg) translate(-50%, -50%);
    height: 60vh;
    width: 60vw;
    left: 50%;
    top: 50%;
    z-index: 0;
  }
  .intro {
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 20px;
  }
  .summary {
    top: 60%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 20px;
  }
}
