@use "../scssMinxin" as *;

.hobbies{
    position: relative;
    background-image: url("././hobbies.jpg");
    background-size: cover;
}

.hobbies::before{
    @include layout;
}

.iconI{
    color: black;
    width: 40px !important;
    height: 40px !important;
}

